.App {
  text-align: center;
  background-image: linear-gradient(180deg, #090f1b, rgba(23, 30, 45, 0.89)),
    url("https://cdn.shopify.com/s/files/1/1991/1709/products/Jungle-Leaves-Pattern-B_580x@2x.jpg?v=1522186407");
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #6192fb;
  text-decoration: none;
  font-size: 16px;
  top: 2%;
}

.App-link:hover {
  color: #273e6e;
  cursor: pointer;
}
.personal-links {
  width: 200px;
}
.personal-links a {
  color: white;
  padding: 3%;
  top: 3%;
}
.personal-links a:hover {
  color: rgb(48, 100, 70);
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
